.cataloghead
{
    width: 100%;
    display: flex;
    height: 7%;
    /* background-color: antiquewhite; */
}

.crossicon
{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    /* background-color: aqua; */
}

.cataclcat
{
    height: 100%;
    font-size: 23px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 80%;
}

.iconscat
{
    width: 50%;
    display: grid;
    font-size: 30px;
    height: 100%;
    /* background-color: aquamarine; */
    place-items: center;
}

.scrolldish
{
    overflow-x: scroll;
    width: 100%;
    display: flex;
    gap: 10px;
  
    align-items: center;
    /* background-color: pink; */
    /* scrollbar-width: none; */
    height: 9%;
}

.scrolldish::-webkit-scrollbar
{
    height: 4px;
}

.scrolldish::-webkit-scrollbar-thumb
{
    background-color: #4c565c;
    border-radius: 10px;
 
}

.scrolldish::-webkit-scrollbar-track
{
    background-color: rgb(255, 255, 255);
    margin-left: 235px;
    margin-right: 235px;
    border-radius: 10px;  
}

.catalodis
{
    height: 65%;
    width : max-content;
    padding: 0 4%;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 5px;
    font-size: 16px;
    background-color: #fdfdfd;
    border: 1px solid #e3e6e8;

}
       
.dishlist {
    width: 96%;
    padding: 0px 2%;
    height: 75%;
    display: flex;
    align-items: end;
    
}

.barsize
{
    /* background-color: darksalmon; */
    height: 97%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    
}

.greid
{
    height: auto;
    width: 100%;
    align-items: start;
    overflow-y: auto;
    scrollbar-width: none;
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(auto-fit,minmax(160px, 1fr));   
}





.imagecl
{
    width: 100%;
    position: relative;
    color: #fdfdfd;
    overflow: hidden;
    height: 50%;
    background-color: #fdfdfd;
    border-radius: 10px 10px 0px 0px;
}

.dishimage
{
    position: relative;
    width: 100%;
    height: 100%;
}

.dishnameconst
{
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    justify-content: start;
}

.dishname
{
    font-weight: 400;
    font-size: 1rem;
    height: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 94%;
    padding: 0px 3%;
    
}

.dishvariant
{
    height: 40%;
    width: 94%;
    color: #a5aaac; 
    padding: 0px 3%;
    display: flex;
    align-items: start;
    justify-content: start;
}

.twobuuto
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    /* background-color: rgb(2, 232, 232); */
}


.iconblured {
    height: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    position: absolute;
    top: 8%;
    right: 4%;
    border-radius: 50%;
    backdrop-filter: blur(0px);
    filter: grayscale(100%);
    background-color: rgba(50, 50, 50, 0.5); /* Darker and transparent */
    opacity: 0.8; 
}



.blurin
{
    filter: blur(0px);
    width: 80%;
    height: 80%;
}