.searchbox
{
    width: 90%;
    padding: 0px 5%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    gap: 10px;
}

.searchinput:focus
{
    outline: none;
    border: none;
}

.inpputbox
{
    border: none;
    background: transparent;
}