.searchbox
{
    width: 96%;
    padding: 0px 2%;
    height: 100%;
    border: 1px solid #d9dbdd;
    border-radius: 5px;
    display: flex;
    gap: 2px;
}

.searchinput:focus
{
    outline: none;
    border: none;
}

.searchinput
{
   height: 95%;
   width: 95%;

}
.inpputbox::placeholder
{
    font-size: 17px;
    color: #3d4b53;
    height: 100%;
    display: flex;
    align-items: center;
}

.inpputbox:focus
{
    outline: none;
    border: none;
}
.inpputbox
{
    border: none;
    background-color: red;
    width: 100%;
    height: 100%;
    background: transparent;
}