.searchbox
{
    width: 90%;
    padding: 0px 5%;
    height: 100%;
    
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    gap: 10px;
}

.searchinput:focus
{
    outline: none;
    border: none;
}

.searchinput
{
    height: 95%;
    width: 95%;

}
.inpputbox::placeholder
{
    font-size: 18px;
}

.inpputbox:focus
{
    outline: none;
    border: none;
}
.inpputbox
{
    border: none;
    background-color: red;
    width: 100%;
    height: 100%;
    background: transparent;
}