.variantmaincont
{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: grid;
    place-items: center;
}
.varianthead
{
    width: 96%;
    padding: 0px 2%;
    height: 5%;
    align-items: center;
    /* background-color: cornsilk; */
    display: flex;
    justify-content: space-between;
}

.rightciric
{
    height: 100%;
    align-items: center;
    display: flex;
    font-size: 30px;
    color: #4b565c;
    margin-right: 1%;
}

.dishbanner
{
    width: 98%;
    display: flex;
    justify-content: space-between;
    height: 15%;
    font-size: 16px;
    font-weight: 500;
    /* background-color: deepskyblue; */
}

.bannerima
{
    height: 100%;
    width: 20%;
    display: flex;
    padding-left: 2%;
    justify-content: start;
    align-items: center;
    /* background-color: hotpink; */
}

.bannerdet
{
    height: 100%;
    width: 75%;
    display: flex;
    font-size: 18px;
    text-transform: capitalize;
    font-weight:400;
    align-items: center;
    /* background-color: honeydew; */
}


.varblu
{
    height: 26%;
    color: white;
    border-radius: 50%;
    backdrop-filter: blur(0px);
    filter: grayscale(100%);
    background-color: rgba(50, 50, 50, 0.5); /* Darker and transparent */
    opacity: 0.8; 
}
.addoncont
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.varibut
{
    background-color: #1263df;
    width: 48%;
    font-weight: 600;
    border-right: none !important;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #d9dbdd;
    color: #ffffff;
    height: 60%;
    display: grid;
    place-items: center;
}
.addonbut
{
    width: 48%;
    border-radius: 0px 10px 10px 0px;
    height: 60%;
    font-weight: 600;

    border: 1px solid #d9dbdd;
    border-left: none !important;
    /* background-color: red; */
    display: grid;
    place-items: center;
}

.radiototocon
{
    width: 100%;
    height: 30%;
    /* background-color: indianred; */
}

.quanit
{
    height: 15%;
    font-size: 21px;
    font-weight: 600;
    width: 95%;
    display: flex;
    align-items: end;
    padding: 0px 2%;
    /* background-color: wheat; */
}

.radiobutbox
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    /* background-color: lightseagreen; */
}

.radiocon
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color:magenta; */
    border-bottom: 1px solid #dee1e3;
    height: 33%;
}

.radiolab
{
    height: 100%;
    width: max-content;
    font-weight: 600;
    display: flex;
    padding: 0px 2%;
    align-items: center;
    justify-content: space-between;
    /* background-color: limegreen; */
}

.radiovlue
{
    height: 100%;
    width: 20%;
    font-weight:    600;
    display: grid;
    place-items: center;
    /* background-color:burlywood; */
}
.alic
{
    height: 100%;  
    font-weight: 500;
    display: flex;
    align-items: center;
}

.emptyadd
{
    width: 100%;
    height: 24%;
    margin-bottom: 1%;
    /* background-color: pink; */
    border-bottom: 1px solid #d9dbdd;
}

.varbotom
{
    width: 100%;
    height: 15%;
    /* background-color: darkmagenta; */
}

.varbotval
{
    /* background-color: aqua; */
    width: 100%;
    height: 30%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.varbotbut
{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #e1ff00; */
}

.addsubbot
{
    display: flex;
    background-color: #ffffff;
    border: 1px solid #d9dbdd;
    height: 70%;
    border-radius: 8px;
    width: 35%;
}

.addsubbot button
{
    border: none;
    width: 33%;
    height: 100%;
    display: grid;
    background: transparent;
    place-items: center;
    font-size: 25px;
}

.addprodu
{
    display: flex;
    background-color: #1263df;
    height: 70%;
    border-radius: 8px;
    width: 60%;
}

.addprodu button{
    border: none;
    width: 100%;
    color: #fff;
    height: 100%;
    display: grid;
    background: transparent;
    place-items: center;
    font-size: 18px;
}