.App {
  height: 100vh;
  width: 100vw;
  background-color: aquamarine;
  display: flex;
}

.sidebarcont
{
  height: 100%;
 
  width: 6%;
}
.maincont
{
  height: 100%;
  width: 94%;
  display: flex ;
  background-color: #ffffff;
}

.main-left
{
  /* background-color: blueviolet; */
  height: 100%;
  width: 61%;
}

.main-right
{
  background-color: #f1f3f6;
  height: 100%;
  width: 39%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* leftside page */

.searchandicon
{
  width: 94%;
  padding: 0px 3%;
  height: 8%;
  display: flex;
  /* background-color: darkcyan; */
  align-items: center;
  justify-content: space-between;
}

.threeiconandlist
{
  width: 100%;
  display: flex;
  height: 8%;
  /* background-color: darkcyan; */
  justify-content: space-between;
}



.icononlybox,.icononlyboxbok
{
  /* background-color: brown; */
  height: 80%;
  width: 25%;
  display: flex;
  font-weight: thin;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid grey;
}

.icononlyboxbok
{
  width: 8%;
}


.bookchange
{
  
   font-size: 25px;
   display: flex;
   justify-content: center;
   width: 100%;
}

.unknowtableheder
{
  height: 84%;
  width: 100%;
  /* background-color: aquamarine; */
}

.tableheadcont
{
  display: flex;
  color: grey;
  align-items: center;
  justify-content: center;
  height: 80%;
  font-size: 18px;
}

/* style={{backgroundColor:'red',height:'91%',width:'100%'}} */

.emptypage
{
  height: 91%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.tablehade
{
  height: 8%;
  width: 96%;
  display: flex;
  align-items: center;
  padding: 0px 2%;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}



.dish-pricelis
{
  width: 98%;
  padding: 0px 1%;
  height: 91%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.trbox
{
  width: 100%;
  height: 12%;
  display: flex;
}

.tablecontvalue
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}