.App {
  height: 100vh;
  width: 100vw;
  background-color: aquamarine;
  display: flex;
}

.sidebarcont
{
  height: 100%;
 
  width: 6%;
}
.maincont
{
  height: 100%;
  width: 94%;
  display: flex ;
  background-color: beige;
}

.main-left
{
  /* background-color: blueviolet; */
  height: 100%;
  width: 55%;
}

.main-right
{
  background-color: coral;
  height: 96%;
  width: 42%;
  padding: 1% 1.5%;
}


/* leftside page */

.searchandicon
{
  width: 94%;
  padding: 0px 3%;
  height: 8%;
  display: flex;
  /* background-color: darkcyan; */
  align-items: center;
  justify-content: space-between;
}

.threeiconandlist
{
  width: 100%;
  display: flex;
  height: 8%;
  /* background-color: darkcyan; */
  justify-content: space-between;
}

.icononlybox
{
  /* background-color: brown; */
  height: 80%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid grey;
}


/* rightpage */

.Pricelinehead
{
  width: 100%;
  display: flex;
  height: 4%;
  justify-content: space-between;
  align-items: center;
}

.pricebox
{ 
  /* style={{width:'100%',height:'25%',marginTop:'2%',backgroundColor:'red',display:'flex',}} */
  width: 100%;
  height: 18%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}